.stats {
  display: flex;
  justify-content: space-between;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 33%;
  background-color: rgb(221, 225, 226);
}

.stats li span {
  display: block;
}

.quantity {
  font-weight: bold;
}
